In [6]:
import pandas as pd
import Util as util

# Activity Data (Google Fit Api)

## Activity Sample1
- uid
- date
- stime : start time of each activity
- etime : end time of each activity
- vale : type of Google Fit Data ( 0=in vehicle / 1=biking / 2= on foot / 3=still(not moving) / ,,)

(activity type : https://developers.google.com/fit/rest/v1/reference/activity-types)
- flag : column for android developing
- total : duration of each activity type


(Google fit api : https://developers.google.com/fit)

In [4]:
act_sample1 = pd.read_csv('../../Sample Data/A/A_Activity.csv', encoding='utf-8')
act_sample1.head()

,_id,uid,date,stime,etime,type,value,flag,total
0,1,otfKOMf7VUaB5lxUARO0HNusxPB2,2018-12-03,2018-12-03 00:00:00,2018-12-03 01:25:23,com.google.activity.segment,3,False,85
1,2,otfKOMf7VUaB5lxUARO0HNusxPB2,2018-12-03,2018-12-03 01:25:23,2018-12-03 01:37:40,com.google.activity.segment,7,False,12
2,3,otfKOMf7VUaB5lxUARO0HNusxPB2,2018-12-03,2018-12-03 01:37:57,2018-12-03 08:43:20,com.google.activity.segment,3,False,425
3,4,otfKOMf7VUaB5lxUARO0HNusxPB2,2018-12-03,2018-12-03 08:43:20,2018-12-03 09:01:20,com.google.activity.segment,7,False,18
4,5,otfKOMf7VUaB5lxUARO0HNusxPB2,2018-12-03,2018-12-03 09:02:50,2018-12-03 09:50:36,com.google.activity.segment,3,False,47

## Activity Sample2
- timestamp
- vehicle / bicycle / foot / running / still / walking / unknown 
:  percentage of each activity type at timestamp

In [5]:
act_sample2 = pd.read_csv('../../Sample Data/D/D_Activity.csv', encoding='utf-8')
act_sample2.head()

,timestamp,vehicle,bicycle,foot,running,still,walking,unknown
0,2017.09.05_17.36.25,29,2,5,0,41,5,23
1,2017.09.05_17.36.40,8,2,5,0,92,5,23
2,2017.09.05_17.36.56,28,1,5,0,21,5,50
3,2017.09.05_17.37.11,31,10,5,0,18,5,43
4,2017.09.05_17.37.51,27,10,6,0,41,6,27